
.page-title {
    font-size: 24px;
    font-weight: 600;
}

.settings-form .form-group > .row  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -16px !important;
    gap: 16px;
}

.settings-form .form-group > .row > .control-label {
   min-width: 70px;
}
.settings-form .form-group select {
    height: 30px;
    line-height: 30px;
    
}


.bottom-row .btn-primary {
    background: #39a5dc!important;
    border-color: #00659c!important;
    height: 30px;
    width: 150px;
}
.bottom-row .row > div {
    background: #e4e7ec;
}

.form-group-label {
    margin-top: 8px;
    margin-right: 20px;
}

.form-group-separator {
    border-bottom: 1px solid #e4e7ec;
    color: #aaabad;
    font-size: 12px;
}

.col-label {
    min-height: 30px;
    line-height: 30px;
}
.col-label > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.fa.help-icon {
    position: absolute;
    top: 0;
    right: -10px;
    font-size: 16px;
    line-height: 30px;
}
.fa.required-icon {
    position: absolute;
    top: -4px;
    right: 9px;
    font-size: 8px;
    line-height: 30px;
    color: #4e4e4e;
}

.nav-tabs-pattern > li > a {
    margin-bottom: 0 !important;
    padding-top:4px;
    padding-bottom: 4px;
}

.no-decorations {
    text-decoration: none;
}

.no-chevron::after {
    display: none !important;
}